[Unit]
Description=NginX
After=networking.target
Requires=networking.service
Wants=networking.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull nginx
ExecStart=/usr/bin/docker run -p 80:80 -v /var/lib/docker/volumes/blog:/usr/share/nginx/html --name nginx nginx
ExecStop=/usr/bin/docker stop nginx

[Install]
WantedBy=multi-user.target
