<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta
        name='viewport'
        content='width=device-width,
                 initial-scale=1.0,
                 user-scalable=yes'>
    <title>
      {% if page.title %}{{ page.title }} –
      {% endif %}{{ site.name }} –
      {{ site.description }}
    </title>
    <meta name="author" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/style.css">
    <link
        rel="alternate"
        type="application/rss+xml"
        title="{{ site.name }} - {{ site.description }}"
        href="{{ site.baseurl }}/feed.xml">
    <link
        href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
        rel="stylesheet">
    <script
      src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
  </head>
  <body>
    <div class="menu">
      <a href="{{ site.baseurl }}/">
        <img class="logo" src="{{ site.baseurl }}/images/logo.png"/>
      </a>
      <div class="menu-links">
        <a href="{{ site.baseurl }}/" class="menu-link">Home</a>
        <a href="{{ site.baseurl }}/blog/" class="menu-link">Blog</a>
        <a href="{{ site.baseurl }}/resume/" class="menu-link">Resume</a>
        <a href="{{ site.baseurl }}/contact/" class="menu-link">Contact</a>
      </div>
    </div>

    <div id="main" role="main" class="container text--justify vertical-line">
      {{ content }}
      <a
        href="https://twitter.com/share"
        class="twitter-share-button"{count}
        data-via="meka.rs">
        Tweet
      </a>
      <a
        href="https://twitter.com/meka_floss"
        class="twitter-follow-button"
        data-show-count="false">
        Follow @meka_floss
      </a>
    </div>
    <script>
      !function(d,s,id){
        var js;
        var fjs=d.getElementsByTagName(s)[0];
        var p=/^http:/.test(d.location)?'http':'https';

        if(!d.getElementById(id)){
          js=d.createElement(s);
          js.id=id;
          js.src=p+'://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document, 'script', 'twitter-wjs');
    </script>
    <script>
      !function(d,s,id){
        var js;
        var fjs=d.getElementsByTagName(s)[0];
        var p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
          js=d.createElement(s);
          js.id=id;
          js.src=p+'://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document, 'script', 'twitter-wjs');
    </script>
    <script>
      $(function() {
        return $("h2, h3, h4, h5, h6").each(function(i, el) {
          var $el, icon, id;
          $el = $(el);
          id = $el.attr('id');
          icon = '<i class="fa fa-link"></i>';
          if (id) {
            return $el.prepend($("<a />")
              .addClass("header-link")
              .attr("href", "#" + id)
              .html(icon)
            );
          }
        });
      });
    </script>
  </body>
</html>
