---
---

// SETTINGS
@import "../bower_components/inuit-defaults/settings.defaults";
@import "../bower_components/inuit-functions/tools.functions";
$inuit-enable-layout--flush: true;
$inuit-enable-paddings: true;
$inuit-enable-paddings--large: true;

$background--primary: #eaeaea;
$even-background: #f0f0ff;

@import "../bower_components/inuit-mixins/tools.mixins";

// BASE
@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";
@import "../bower_components/inuit-page/base.page";

// OBJECTS
@import "../bower_components/inuit-layout/objects.layout";
@import "../bower_components/inuit-box/objects.box";

body,
html {
  min-height: 100%;
}

html {
  height: 100%;
}

code {
  background: $background--primary;
}

.layout {
  font-size: 0;
}

.layout__item {
  font-size: $inuit-base-font-size;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 10px;
  padding-top: 50px;
  padding-right: 10px;
}

.post__title-wrapper {
  text-align: right;
  padding-right: 50px;
}

.post {
  .post__title--index {
    text-align: right;
    padding-right: 20px;
  }
}

.date {
    color: #aaa;
}

// TRUMPS
@import "../bower_components/inuit-spacing/trumps.spacing";
@import "../bower_components/inuit-widths/trumps.widths";
@import "../bower_components/inuit-clearfix/trumps.clearfix";

$menu-height: 50px;

.text--right {
   text-align: right !important;
}

.text--center {
  text-align: center !important;
  letter-spacing: $inuit-base-spacing-unit;
}

.text--justify {
  text-align: justify;
}

a {
  text-decoration: none;
}

.menu {
  background: #4456a6;
  height: $menu-height;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  max-width: 830px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.logo {
  float: left;
  padding: 2px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
}

.menu-links {
  text-align: right;
  height: $menu-height;
  line-height: $menu-height;
  padding-right: 1%;
}

.menu-link {
  color: #bbb;
}

.menu-item {
  display: inline-block;
}

.vertical-line {
  border-left: thick solid #7789d9;
}

.dashed-hr {
  border: 1px dashed #ccc;
}

.header-link {
  left: -0.5em;
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

.post:nth-child(even) {
  background: $even-background;
}

table {
  cellpadding: 10;
}
