<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta
        name='viewport'
        content='width=device-width,
                 initial-scale=1.0,
                 user-scalable=yes'
    >
    <title>
      {% if page.title %}{{ page.title }} –
      {% endif %}{{ site.name }} –
      {{ site.description }}
    </title>
    <meta name="author" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
    <link
        rel="alternate"
        type="application/rss+xml"
        title="{{ site.name }} - {{ site.description }}"
        href="{{ site.baseurl }}/feed.xml"
    >
    <link
        href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
        rel="stylesheet"
    >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="menu">
      <img class="logo" src="http://www.gravatar.com/avatar/9354411abfc8d1207a9ce00a7aa0aadc"/>
      <div class="menu-links">
        <a href="{{ site.baseurl }}/" class="menu-link">Home</a>
        <a href="{{ site.baseurl }}/blog/" class="menu-link">Blog</a>
        <a href="{{ site.baseurl }}/resume/" class="menu-link">Resume</a>
        <a href="{{ site.baseurl }}/contact/" class="menu-link">Contact</a>
      </div>
    </div>

    <div id="main" role="main" class="container vertical-line">
      {{ content }}
    </div>
    <script>
    $(function() {
      return $("h2, h3, h4, h5, h6").each(function(i, el) {
        var $el, icon, id;
        $el = $(el);
        id = $el.attr('id');
        icon = '<i class="fa fa-link"></i>';
        if (id) {
          return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
        }
      });
    });
    </script>
  </body>
</html>
